@charset "UTF-8";
/*반응형 화면 크기*/
/*반응형, 브라우저 크기가 767px 이하일때*/
/*반응형, 브라우저 크기가 768이상, 1023px 이하일때*/
/*반응형, 브라우저 크기가 1024px 이상일때*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Noto+Sans+KR:wght@100;300;400;500;700&display=swap");
@import url(./reset.css);
@font-face {
  font-family: "Couture";
  font-style: normal;
  font-weight: normal;
  src: local("Couture Bold"), url("../font/couture-bld.woff") format("woff");
}
@font-face {
  font-family: "Couturec";
  font-style: italic;
  font-weight: normal;
  src: local("Couture Bold Italic"), url("../font/couture-bldit.woff") format("woff");
}
body {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 16px;
  letter-spacing: -0.025em;
  color: #fff;
  overflow: hidden;
  background: #000;
}

.cursor {
  width: 80px;
  height: 80px;
  background: #fff;
  border-radius: 50%;
  mix-blend-mode: difference;
  position: fixed;
  pointer-events: none;
  z-index: 10;
}
@media (max-width: 768px) {
  .cursor {
    display: none;
  }
}

.cursor_txt {
  position: fixed;
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  font-family: "Couture", "Noto Sans KR", sans-serif;
  color: #000;
  pointer-events: none;
  z-index: 10;
}
@media (max-width: 768px) {
  .cursor_txt {
    display: none;
  }
}

.header {
  display: flex;
  width: 100%;
  position: fixed;
  padding: 20px 30px;
  justify-content: space-between;
  box-sizing: border-box;
  font-family: "Couture", "Noto Sans KR", sans-serif;
  align-items: center;
  z-index: 10;
  letter-spacing: 3px;
}
.header .logo {
  font-weight: 500;
  font-size: 30px;
}
.header .logo a {
  display: block;
  height: 100%;
}
.header .navbar .menu_btn {
  display: none;
}
.header .navbar .nav {
  display: flex;
}
.header .navbar li + li {
  margin-left: 30px;
}
.header .navbar li a {
  font-size: 14px;
  font-weight: 500;
}
@media (max-width: 768px) {
  .header .logo {
    font-size: 18px;
  }
  .header .navbar .menu_btn {
    display: block;
    position: relative;
    z-index: 2;
    color: #fff;
  }
  .header .navbar .nav {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #000;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    align-items: center;
    transition: 0.3s;
  }
  .header .navbar .nav.on {
    visibility: visible;
    opacity: 1;
  }
  .header .navbar .nav li {
    padding: 10px 0;
  }
  .header .navbar .nav li + li {
    margin-left: 0;
  }
  .header .navbar .nav li a {
    font-size: 20px;
  }
}

.footer {
  padding: 150px 0 150px;
  text-align: center;
  font-size: 50px;
  font-family: "Couture", "Noto Sans KR", sans-serif;
  line-height: 1.5;
}
@media (max-width: 768px) {
  .footer {
    font-size: 30px;
  }
}
.footer .copyright {
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 20px;
  font-size: 12px;
  color: #818181;
}