@import './_variables.scss';

.sc_intro{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: $font-en;
    // background: #f75a58;
    background: #000;

    .bg{position: absolute;
    top: 0;left: 50%;transform: translateX(-50%); max-width: 100%;height: 100%;object-fit: cover;
    opacity: 0;
    }
   
    .sc_title{
        position: absolute;
        top: 50%;
        left: 50%;
        white-space: nowrap;
        transform: translate(-50%, -50%);
        font-size: 4vw;
        text-align: center;
        line-height: 1.4;
        font-weight: 500;
        span{ position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        opacity: 0;
            &:last-child{font-size: 6vw;letter-spacing: 2px;}
    }

    }
}

.sc_about{
    max-width: 700px;
    margin: 0 auto;
    padding: 0 20px;
    .sc_title{
        font-size: 38px;
        line-height: 1.8;
        font-weight: 300;
        strong{font-weight: 600;}
    }

    .desc{
        margin: 100px 0;
        font-size: 18px;
        line-height: 1.7;
    }
    @include mobile{
        .sc_title{
            font-size: 22px;
        }
        .desc{
            font-size: 16px;
        }
    }

    
}

.sc_works{


    .filter_area{
        display: flex;
        flex-wrap: wrap;
        padding: 10px;
        justify-content: flex-end;
        button{
       
            border: 0;
            background: #000;
            border: 2px solid #fff;
            color: #fff;
            padding: 11px 25px;
            border-radius: 5px;
            font: inherit;
            margin: 0 5px 10px;
            cursor: pointer;
            &.on{
                background: #fff;
                color: #222;
            }
        }
    }
   
    

    .sc_title{
        font-weight: bold;
        font-size: 5vw;
        text-align: center;
        padding: 100px 0;
        letter-spacing: 1vw;
        @include mobile{
            font-size: 8vw;
        }
    }


    .group_list{
// box-sizing: border-box;
    //    display: flex;
    //    flex-wrap: wrap;
       &:after {
        content: '';
        display: block;
        clear: both;
      }
    }
    .cont{
        width: 33.33%;
        float: left;
        box-sizing: border-box;
        position: relative;
        @include tablet{
            width: 50%;
        }
        @include mobile{
            width: 100%;
        }

        .wrap{
            position: relative;
            padding-bottom: 100%;
            &::before{
                content: '';
                position: absolute;
                top: 0;left: 0;right: 0;bottom: 0;
                background: rgba(0,0,0,0.3);
            }
        }
       
        img{
            width: 100%;
            height: 100%;object-fit: cover;
            position: absolute;
            top: 0;left: 0;right: 0;bottom: 0;
        }
        .link_wrap{
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.521);
            padding: 30px;
            box-sizing: border-box;
            line-height: 1.5;
            opacity: 0;
            em {
                font-size: 20px;
                color:#fff;
            }

    
        }
      
        &:hover {

            .link_wrap{
                transition: 0.5s;
                opacity: 1;
            }
        }
        h3{
            // position: absolute;
            // top: 50%;left: 50%;
            z-index: 1;
            // transform: translate(-50%, -50%);
            font-weight: bold;
            color:rgb(255, 252, 251);
            font-size: 24px;
        }

        .links {
            box-sizing: border-box;
            margin-top: 20px;
            .link_more {
                width: 100px;
                height: 50px;
                border-radius: 20px;
                padding: 5px 15px;
                background: #fff;
                color:#000;
                &:hover {
                    background: #000;
                    color:#fff;
                    transition: 0.3s;
                }
            }
            .link_notion {
                margin-top: 10px;
                display: block;
                font-size: 18px;
                line-height: 30px;
                
            }
        }

    }


}