.blind {
    position: absolute;
    width: 1px; height: 1px;
    margin: -1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
}

header .logo, .search_box .search_btn::before,
.more_btn, .bottom_area .cs_img,
.btn_control a.btn {
    background-image: url(https://www.seoul.go.kr/res_newseoul/images/main/icon_set_common_2019.png);
    background-size: 300px;
    background-repeat: no-repeat;
}
.search_area .logo2 {
    background-image: url(../img/logo_2.png);
    background-size: 180px;
    background-repeat: no-repeat;
}
.sc_main .slide_icon {
    background-image: url(../img/slide_icon.png);
    background-size: 300px;
    background-repeat: no-repeat;
}
.sc_service ul li .icon_service{
    background-image: url(../img/service_icon.png);
    background-size: 1140px;
    background-repeat: no-repeat;
}
.sns_area h2::after, .sns_wrap a {
    background-image: url(../img/snsicon.png);
    background-size: 280px;
    background-repeat: no-repeat;
}
footer .sns_area a {
    background-image: url(../img/footsns_icon.png);
    background-size: 175px;
    background-repeat: no-repeat;
}